body{
    background-color: tomato;
}
a{
    text-align: center;
    color: black;
    text-decoration: none;
    font-family: IM Fell English SC, Courier, monospace, sans-serif;
}
a:hover{
    color: blue;
}

h1 {
    text-align: center;
    font-family: IM Fell English SC, Courier, monospace, sans-serif;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    }
